<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm container">
        <i class="bi bi-shield-lock text-dark" style="font-size: 2.5em;" title="Listado de Denuncias Activas."></i>
        <div class="card-title text-center form-group col-md-8 offset-md-1">
          <p>Tipos de Denuncias</p>
        </div>
      </div>
      <div class="row">
          <table datatable class="row-border hover table table-hover" style="padding-bottom: 2.5em">
          <thead class="thead-dark tituloTabla">


            <tr>
              <th class="text-center" *ngFor="let cabecera of cabeceras ">{{cabecera}} </th>
            </tr>
          </thead>

          <tbody class="textoTabla">
            <tr *ngFor="let TipoDenuncia of TiposDenuncia | paginate: { itemsPerPage: 5, currentPage: p }">
              <td class="text-center">{{TipoDenuncia.cod_Tipo_Denuncia}}</td>
              <td class="text-center">{{TipoDenuncia.nombre}}</td>
              <td class="text-center">{{TipoDenuncia.tiempo_Max_Tratamiento}}</td>
              <td>{{TipoDenuncia.descripcion}}</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
