<div class="container">



    <div class="card">
        <div class="card-body">
          
            <h5 class="card-title">Consultar Requerimiento</h5>

            <app-reclamo-cabecera [reclamo]="reclamo"></app-reclamo-cabecera>

            <!-- <div class="row pt-3" *ngIf="mostrarBotonRechazar()"> -->
                <button type="button" class="btn btn-danger col-md-2 m-1" 
                    (click)="rechazarReclamo()" *ngIf="opcionesReclamo.puedeRechazar"><i class="bi bi-x"></i> Rechazar</button>
                <button type="button" class="btn btn-warning col-md-2 m-1" 
                    (click)="asignarAreaReclamo()" *ngIf="opcionesReclamo.puedeAsignar"><i class="bi bi-people"></i> Asignar</button>
                <button type="button" class="btn btn-warning col-md-2 m-1" 
                    (click)="cargarTrabajoReclamo()" *ngIf="opcionesReclamo.puedeCargarTrabajo"><i class="bi bi-tools"></i> Cargar Trabajo</button>
                <button type="button" class="btn btn-warning col-md-2 m-1" 
                    (click)="mostrarObservacionesReclamo()" *ngIf="opcionesReclamo.puedeVerObservaciones"><i class="bi bi-binoculars"></i> Observaciones</button>
                <button type="button" class="btn btn-warning col-md-2 m-1" 
                    (click)="mostrarTrabajosReclamo()" *ngIf="opcionesReclamo.puedeVerTrabajos"><i class="bi bi-list-task"></i> Trabajos</button>
                <button type="button" class="btn btn-warning col-md-2 m-1" 
                    (click)="finalizarReclamo()" *ngIf="opcionesReclamo.puedeFinalizar"><i class="bi bi-check2-all"></i> Validar Cierre</button>
                <button type="button" class="btn btn-warning col-md-2 m-1" 
                    (click)="suspenderReclamo()" *ngIf="opcionesReclamo.puedeSuspender"><i class="bi bi-pause-fill"></i> Suspender</button>
                <button type="button" class="btn btn-warning col-md-2 m-1" 
                    (click)="activarReclamo()" *ngIf="opcionesReclamo.puedeActivar"><i class="bi bi-play-fill"></i> Activar</button>
                <button type="button" class="btn btn-warning col-md-2 m-1" 
                    (click)="enviarACerrarReclamo()" *ngIf="opcionesReclamo.puedeEnviarACerrar"><i class="bi bi-check2"></i> Enviar a Cerrar</button>
            <!-- </div> -->

            

        </div>

        <div class="card-footer">
            <div class="row pt-3" >
                <button type="button" class="btn btn-secondary col-md-3 offset-md-9" (click)="volver()">Volver</button>
            </div>
        </div>

    </div>

</div>
