<div class="container">

  <form [formGroup]="Reclamo" (ngSubmit)="guardarDatos()">
    <div class="d-flex align-items-center p-2 my-2 bg-purple bg-light shadow p-2 mb-3 rounded shadow-sm">
      <img src="../../../assets/Imagenes/Reclamo.svg" alt="" width="58" height="58">
      <div class="tituloFormulario text-center form-group col-md-8 offset-md-1">
        <p> Formulario de Reclamo</p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-5">
        <label for="exampleInputEmail1" class="form-label">(*) Tipo de Reclamo</label>
        <select id="Tipo_Reclamo" formControlName="codTipoReclamo" class="form-select">
          <option value="">--Seleccione Opción--</option>
          <option [ngValue]="TipoReclamo.cod_Tipo_Reclamo" *ngFor="let TipoReclamo of TiposReclamo">{{TipoReclamo.nombre}}</option>
        </select>
        <small *ngIf="codTipoReclamoNoValido" class="text-danger">
          El Tipo de Reclamo es requerido.
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="formGroupExampleInput">(*) Nombre calle</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre calle" formControlName="Calle">
        <small *ngIf="calleNoValido" class="text-danger">
          El nombre de calle es requerido.
        </small>
      </div>
      <div class="col-md-4">
        <label for="formGroupExampleInput">(*) Altura aproximada</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Altura aproximada" formControlName="Altura">
        <small *ngIf="alturaNoValido" class="text-danger">
          La altura aproximada es requerida.
        </small>
      </div>
      <div class="col-md-4">
        <label for="formGroupExampleInput">(*) Entre calles</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Entre calles" formControlName="entreCalles">
        <small *ngIf="entreCallesNoValido" class="text-danger">
          El dato de entre calles es requerido.
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="exampleFormControlTextarea1">(*) Descripci&oacute;n</label>
        <textarea class="form-control" formControlName="Descripcion" id="exampleFormControlTextarea1" rows="3" placeholder="Descripcion del reclamo del servicio, circunstancias que lo generaron puede incluir nombres de personas implicadas para mayor trazabilidad."></textarea>
        <small *ngIf="descripcionNoValido" class="text-danger">
          La descripci&oacute;n es requerida.
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <input type="file" class="form-control" id="customFileLang" lang="es">
      </div>
      <div class="col-md-6">
        <input type="file" class="form-control" id="customFileLang2" lang="es">
      </div>
    </div>

    <!--<div class="row p-3 ml-3 form-group offset-md-2 ">
      <div class="offset-md-1  form-group form-inline">
        <label for="id_Vecino">Id Vecino&nbsp;</label>
        <input type="hidden" class="form-control sin-borde" id="idVecino" formControlName="idVecino" placeholder="" value="" readonly>
      </div>
      <div class="offset-md-1  form-group form-inline">
        <input type="text" class="form-control sin-borde" id="nombreVecino" formControlName="nombreVecino" placeholder="" value="" readonly>
      </div>
    </div>-->
    <!--<div class="row p-3 ml-3 form-group offset-md-2 ">

      <div class="form-group justify-content-around offset-md-1">
        <div class="offset-md-1 col-md-4 mb-3 custom-file">
          <input type="file" class="custom-file-input" id="customFileLang" lang="es">
          <label class="custom-file-label" for="customFileLang"><img src="../../../assets/IconsGoogle/card-image.svg" alt="" width="16" height="16" title="card-image"> Adjuntar Imagen 1</label>
        </div>
        <div class="offset-md-1 col-md-4 mb-3 custom-file">
          <input type="file" class="custom-file-input" id="customFileLang" lang="es">
          <label class="custom-file-label" for="customFileLang"><img src="../../../assets/IconsGoogle/card-image.svg" alt="" width="16" height="16" title="card-image"> Adjuntar Imagen 2</label>
        </div>
      </div>
    </div>-->
    <!--<div style="margin:1em; color:white" class="form-group col-md-12 justify-content-around">
      <div class="text-center  bg-danger shadow p-2 mb-5 rounded shadow-sm" *ngIf="Reclamo.valid==false">Verifique que los datos indicados con (*) estén correctamente ingresados</div>
    </div>-->


    <div class="d-grid gap-4 d-md-flex justify-content-md-center">
      <input type="submit" value="Generar" class="btn btn-success" (click)="clickMethod()" />
      <button type="button" class="btn btn-secondary">Cancelar</button>
    </div>

  </form>

</div>
