<div class="container">
    <section class="section">
        <!-- <div class="alert alert-warning bg-warning border-0 alert-dismissible fade show" role="alert" *ngIf="procesoEjecutadoNoOk">
            <i class="bi bi-exclamation-triangle me-1"></i> {{ mensajeWarning }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert" *ngIf="procesoEjecutadoOk">
            <i class="bi bi-check-circle me-1"></i> {{ mensajeOk }}
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tipos de Requerimiento</h5>

                <!-- Table with stripped rows -->
                <div class="table-responsive">
                    <table class="table table-striped table-sm">

                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Cód.</th>
                                <th scope="col" class="text-center">Nombre</th>
                                <th scope="col" class="text-center">Descripci&oacute;n</th>
                                <th scope="col" class="text-center">Tiempo M&aacute;x.<br>Resoluci&oacute;n</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let tipoReclamo of tiposReclamo | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td class="">{{tipoReclamo.cod_Tipo_Reclamo}}</td>
                                <td class="">{{tipoReclamo.nombre}}</td>
                                <td class="">{{tipoReclamo.descripcion}}</td>
                                <td class="">{{tipoReclamo.tiempo_Max_Tratamiento}}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="verTipoReclamo(tipoReclamo.cod_Tipo_Reclamo)" title="Modificar"><i class="bi bi-pencil"></i></button>
                                    <button type="button" class="btn btn-outline-danger btn-sm ms-1" (click)="openModalEliminacion(content, tipoReclamo.cod_Tipo_Reclamo)" title="Borrar"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <!-- End Table with stripped rows -->
            </div>
        </div>
    </section>

    <div class="row text-center">
        <pagination-controls previousLabel="Anteriores" nextLabel="Siguientes" (pageChange)="p = $event"></pagination-controls>
    </div>

    <div class="row">
        <hr class="mb-4">
        <div class="form-group col-md-12">
            <button type="button" value="Nuevo" class="btn btn-secondary col-md-4 offset-md-1 " (click)="nuevoTipoReclamo()">Nuevo</button>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirmaci&oacute;n</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            Desea eliminar el registro?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cancelarModalEliminar()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="eliminarTipoReclamo()">
    Eliminar
  </button>
        </div>
    </ng-template>


</div>