.combobox {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #240f7d;
}

.sin-borde {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  background-color: transparent;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.encuadre {
  /*box-shadow: 5px 5px 5px #888888;*/
  /*border: 1px solid #888888;*/
  box-shadow: 2px 2px 2px #9479eb, -2px -2px 2px #f8e7e7;
  padding: 10px;
  margin: 10px;
}
