<div class="modal bg-secondary" tabindex="-1" style="display:block;" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <h4 class="modal-title me-3">{{tituloInformacion}}</h4>
        <img src="../../../assets/Imagenes/logo-cristal_3.png" width="100" height="100" class="ms-auto" />
      </div>
      <div class="modal-body">

          <div class="card">
            <div class="card-body">
            <div class="col-md-12 order-md-2">
                <form [formGroup]="Lote">
                  <div class="container-fluid">
                    <div class="row  my-2 ">
                      <div class="col-md-6 form-inline mt-3">
                        <label>Nomenclatura&nbsp;:&nbsp;</label>
                        <input type="text" class=" sin-borde" id="nomenclaturaCatastral" formControlName="nomenclaturaCatastral" placeholder="" value="" readonly>
                      </div>
                      <div class="col-md-6 form-inline mt-3">
                        <label for="firstName">Tipo de Lote&nbsp;:&nbsp;</label>
                        <input type="text" class=" sin-borde" id="nombreLote" formControlName="nombreLote" placeholder="" value="" readonly>
                      </div>
                    </div>
                    <div class="row p-1 my-2 ">
                      <div class="col-md-6  d-flex align-items-center">
                        <label for="calle">Calle &nbsp;:&nbsp;</label>
                        <input type="text" class="sin-borde" id="calle" formControlName="calle" readonly>
                      </div>

                      <div class="col-md-6 d-flex align-items-center ">
                        <label for="altura">Altura &nbsp;:&nbsp;</label>
                        <input type="text" class="sin-borde" id="altura" formControlName="altura" readonly>
                      </div>

                      <div class="col-md-6 mt-3 align-items-center mt-3">
                        <label for="Nombre_Infractor" title="Si el atributo tiene el tilde es porque el lote es esquina">Esquina &nbsp;&nbsp;&nbsp;</label>
                        <input type="checkbox" formControlName="esquina" value="esquinabox" id="esquina">
                      </div>
                      <div class="col-md-6 mt-3 align-items-center mt-3">
                        <label for="Nombre_Infractor" title="Si el atributo tiene el tilde es porque el lote esta asfaltado">Asfaltado &nbsp;&nbsp;&nbsp;</label>
                        <input type="checkbox" formControlName="asfaltado" value="asfaltadobox" id="asfaltado">
                      </div>
                      <div class="col-md-6 mt-3 align-items-center mt-3">
                        <label for="" title="Si el atributo tiene el tilde es porque el lote posee deuda acumulada">Lote con Deuda? &nbsp;&nbsp;</label>
                        <input type="checkbox" formControlName="estadoDeuda" value="loteDeudorbox" id="estadoDeuda">
                     </div>
                   <div class="col-md-6 mt-3 align-items-center mt-3">
                        <label for="supEdificada"title="El valor numerico corresponde a los metros cuadrados construidos" id="supEdificada">Construido&nbsp;:&nbsp;</label>
                        <input type="text" class="sin-borde"  formControlName="supEdificada" readonly>
                      </div>
                </div>
                  </div>
                  </form>
              </div>
                 </div>
              </div>


    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

