<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{titulo}} como Vecino</h5>
            <form [formGroup]="Usuario" (ngSubmit)="guardarDatos()" class="row g-3">

                <div class="col-md-6">
                    <label for="NombrePersona" class="form-label">Nombre</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : nombrePersonaNoValido}" id="NombrePersona" formControlName="NombrePersona" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['NombrePersona'].errors?.required">
                        El nombre es requerido.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="Apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : apellidoNoValido}" id="Apellido" formControlName="Apellido" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Apellido'].errors?.required">
                        El apellido es requerido.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="Dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : dniNoValido}" id="Dni" formControlName="Dni" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Dni'].errors?.required">
                        El DNI es un dato requerido.
                    </div>
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Dni'].errors?.minlength">
                        El DNI ingresado es incorrecto, verifique el número ingresado.
                    </div>
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Dni'].errors?.maxlength">
                        El DNI ingresado es incorrecto, verifique por favor.
                    </div>
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Dni'].errors?.pattern">
                        El DNI solo puede estar compuesto por números.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="FechaNac" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" [ngClass]="{'is-invalid' : fechaNacNoValido}" id="FechaNac" formControlName="FechaNac" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['FechaNac'].errors?.required">
                        La fecha de nacimiento es requerida
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="Domicilio" class="form-label">Domicilio</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : domicilioNoValido}" id="Domicilio" formControlName="Domicilio" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Domicilio'].errors?.required">
                        El domicilio requerido.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="Altura" class="form-label">Altura</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : alturaNoValido}" id="Altura" formControlName="Altura" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Altura'].errors?.required">
                        La altura de la calle es requerida.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="Telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : telefonoNoValido}" id="Telefono" formControlName="Telefono" placeholder="Ejemplo: 3515305248 ; Sin guion ni espacios" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Telefono'].errors?.required">
                        El teléfono es un dato requerido como contacto en la gestión de solicitudes/reclamos.
                    </div>
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Telefono'].errors?.required">
                        Ingrese únicamente números por favor.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="Mail" class="form-label">Mail</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : mailNoValido}" id="Mail" formControlName="Mail" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Mail'].errors?.pattern ">
                        El email es incorrecto, verifique por favor.
                    </div>
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Mail'].errors?.required">
                        El email es requerido para enviar notificaciones de gestiones resueltas.
                    </div>

                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Mail'].errors?.yaExiste">
                        El email ingresado ya esta registrado en la base de datos utilice otro correo por favor...
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="NombreUser" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : nombreUserNoValido}" id="NombreUser" formControlName="NombreUser" placeholder="Ejemplo: jorgitoelperez" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['NombreUser'].errors?.required">
                        El nombre de usuario es requerido.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="Contrasenia" class="form-label">Contraseña</label>
                    <input type="password" id="Contrasenia" formControlName="Contrasenia" class="form-control" [ngClass]="{'is-invalid' : contraseniaNoValido}" placeholder="Ejemplo: A5T5DerfG" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Contrasenia'].errors?.required ">
                        Ingrese una contraseña.
                    </div>
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Contrasenia'].errors?.pattern ">
                        Ingrese 8 caracteres como mínimo; al menos una letra mayuscula, una minuscula y un número.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="lastName" class="form-label">Repetir Contraseña</label>
                    <input type="password" id="Contrasenia2" formControlName="Contrasenia2" class="form-control" placeholder="Repetir Contraseña" value="">
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Contrasenia2'].errors?.noIguales">
                        La contraseña no es la misma, verifique.
                    </div>
                    <div class="invalid-feedback" *ngIf="isFormSubmitted && Usuario.controls['Contrasenia2'].errors?.required ">
                        Ingrese la contraseña nuevamente.
                    </div>
                </div>

                <div class="col-md-12 order-md-1">

                    <div class="row">
                        <hr class="mb-4">
                        <div class="form-group col-md-12 mb-3 pt-3">
                            <input type="submit" value="Generar" class="btn btn-primary col-md-4 offset-md-1 " />
                            <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="volverHome()">Cancelar</button>
                        </div>

                    </div>

                </div>

            </form>
        </div>
    </div>




</div>