<div class="container-fluid">
  <!--Denuncias-Reclamos-Solicitudes-sugerencias-->
  <div class="row  mt-3 row-cols-1 row-cols-md-2 g-4">
  </div>




  <!-- Generacion de SET DE Graficas Denuncias-->
  <div class="row p-2 mt-3 row-cols-1 row-cols-md-2 g-4 ">
    <div class="col tarjeta">
      <div class="card sin-borde shadow-lg">
        <div class="card-block text-center">
          <h4 class="card-title titulo">Gestion de Empleados</h4>
          <img src="../../../assets/Imagenes/empleados.png" alt="" width="200" height="160" [routerLink]="['/usuario-tabla']" title="Click aquí para gestionar empleados del municipio.">
        </div>
      </div>
    </div>

    <div class="col tarjeta">
      <div class="card sin-borde shadow-lg">
        <div class="card-block text-center">
          <h4 class="card-title titulo">Gestion de Roles</h4>
          <img src="../../../assets/Imagenes/requerimientos.png" alt="" width="150" height="160" [routerLink]="['/tipo-rol-tabla']" title="Click aquí para gestionar los roles.">
        </div>
      </div>
    </div>

    <div class="col tarjeta ">
      <div class="card sin-borde shadow-lg">
        <div class="card-block text-center">
          <h4 class="card-title titulo">Gestion de Componentes</h4>
          <img src="../../../assets/Imagenes/ambiente2.png" alt="" width="150" height="160" [routerLink]="['/pagina-tabla']" title="Click aquí para gestionar las denuncias.">
        </div>
      </div>
    </div>

    <div class="col tarjeta">
      <div class="card sin-borde shadow-lg">
        <div class="card-block text-center">
          <h4 class="card-title titulo">Indicadores de Salud </h4>
          <img src="../../../assets/IconsGoogle/indiicadoresSalud.png" alt="" width="160" height="150" [routerLink]="['/tabla-denuncia']" title="Click aquí para gestionar las denuncias.">
        </div>
      </div>
    </div>

  </div>




</div>


