<div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm container ">
    <!-- <img [src]="rutaImagen" alt="" width="60" height="60"  [routerLink]="linkFinal" > -->
    <!-- <a [routerLink]="linkFinal"><h1><i class="bi bi-patch-plus"></i></h1></a> -->
    <!-- <a [routerLink]="linkFinal"><h1><i class="bi bi-people-fill"></i></h1></a> -->
    <a [routerLink]="linkFinal"><h1><i class="bi bi-book"></i></h1></a>

    
    <div class="card-title text-center form-group col-md-8 offset-md-1">
        <p>{{ titulo }}</p>
    </div>
</div>
