/*-------------------------aca el nuevo -----------------------*/
.texto-blanco {
  color: white;
  font-size: 1.12em;
}

.tituloFormulario {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiper .tooltiptext {
  /*visibility: hidden;*/
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.Tipo_Denuncia {
  margin-right: 1.5em;
}

.textoTabla {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  color: #000000;
}


.tituloTabla {
  font-size: 0.9em;
}

.combobox {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  color: #240f7d;
}

/*.tituloFormulario {
  color: #240f7d;
  font-size: 1.7em;
  font-weight: 900;
  text-shadow: 6px 8px 10px #555;
}

.container-fluid {
  background: rgb(81,197,245);
  background: linear-gradient(76deg, rgba(81,197,245,1) 0%, rgba(67,116,237,1) 14%, rgba(150,224,236,1) 100%);*/
  /* background-color: #240f7d;*/
  /*padding-top: 1.5em;
  color: skyblue !important;
}


.Tipo_Denuncia {
  margin-right: 1.5em;
}

.textoTabla {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #000000;
}


.tituloTabla {
  font-size: 1.1em;
}

.combobox {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #240f7d;
}*/
