.textoTabla {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #ffffff;
}

.tituloSombra {
  color: #240f7d;
  font-size: 3em;
  font-weight: 900;
  text-shadow: 6px 8px 10px #555;
}
