<div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mis Solicitudes</h5>
      <p class="card-text">Gestion de Mis solicitudes realizadas al Municipio.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mis Reclamos</h5>
      <p class="card-text">Gestion de Mis reclamos realizados al Municipio.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/Imagenes/MisProyectos2.png" alt="" width="150" height="150">
    <div class="card-body">
      <h5 class="card-title">Mis Proyectos</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

