<form [formGroup]="Valuacion" (ngSubmit)="guardarDatos()">
  <div class="container-fluid ">
    <div class="d-flex align-items-center ">
      <img class="ms-3 " src="../../../assets/Imagenes/finanzas.png" alt="" width="120" height="120">
      <div class="tituloFormulario text-center form-group col-md-7 offset-md-1">
        <p> Gestion de Procesos Sistemicos</p>
      </div>
    </div>
    <div class="row d-flex row d-flex justify-content-center pt-5">
      <div class="col-md-3 offset-md-1">
        <a class="btn btn-lg" (click)="getinteresMensual()">
          <span>Interes Mensual</span>
        </a>
      </div>





      <div class="col-md-4 ">

        <a class="btn btn-lg" (click)="getConfirmacionBoletas()">
          <span>Confirmación de Boletas</span>
        </a>
      </div>

      <div class="col-md-4">

        <a class="btn btn-lg" (click)="getGeneracionImpuestos()">
          <span>Generar Impuestos</span>
        </a>
      </div>
    </div>
    <div class="row d-flex row d-flex justify-content-center pt-5">
      <div class="col-md-3 offset-md-1">
        <a class="btn btn-lg" (click)="LanzarModal()" title="Realizar carga de importes correspondientes a valuacion impositiva">
          <img src="../../../assets/IconsGoogle/person-check.svg" alt="" width="20" height="20" title="Generar Valuacion Impositiva">
          <span>Impuesto Inmobiliario</span>
        </a>
      </div>
      <div class="col-md-4 ">
        <a class="btn btn-lg" (click)="getConfirmacionBoletas()">
          <span>Confirmación de Boletas</span>
        </a>
      </div>

      <div class="col-md-4">
        <a class="btn btn-lg" (click)="getGeneracionImpuestos()">
          <span>Generar Impuestos</span>
        </a>
      </div>
    </div>
    <div class="row p-3 my-2">
      <hr class="mb-4">
      <div class="form-group col-md-12 mb-3 pt-3">
        <button type="button" value="Nuevo" class="btn-success col-md-4 offset-md-1 " [routerLink]="['/persona-form-generar']">  <img src="../../../assets/Imagenes/plus-square.svg" alt="" width="24" height="24" title="Añadir Persona a base de Personas">&nbsp;&nbsp;Ir a Historicos</button>
        <button type="button" class="btn-secondary col-md-4 offset-md-1" (click)="volverHome()"><img src="../../../assets/IconsGoogle/arrow-bar-left.svg" alt="" width="24" height="24" title="Volver" />&nbsp;&nbsp; Volver</button>

      </div>
    </div>
    <ng-template #myModalInfo let-modal>
      <div class="modal bg-secondary" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content ">
            <div class="modal-header">
              <h3 class="modal-title">{{tituloModal}}</h3>
              <img src="../../../assets/Imagenes/logo-cristal_3.png" width="100" height="100" />
            </div>
            <div class="modal-body">
              <section class="mt-3 pb-5">
                <div class="container">
                  <div class="row mt-2 ms-3">
                    <div class="col-5">
                      <label>(*) Valor en $ M2 sin Construir&nbsp;</label>
                      <campo-requerido formControlName="ValorSupTerreno" placeholder=" Valor metro cuadrado en pesos" (blur)="onTouched()"></campo-requerido>
                    </div>
                    <div class="col-5 offset-md-1">
                      <label> Indice Lote Esquina&nbsp;&nbsp;&nbsp;</label>
                      <campo-requerido formControlName="IncrementoEsquina" placeholder=" % esquina" (blur)="onTouched()"></campo-requerido>
                    </div>

                  </div>
                  <div class="row mt-2 ms-3 pt-4">
                    <div class="col-5">
                      <label>(*) Valor en $ M2 construido&nbsp;</label>
                      <campo-requerido formControlName="ValorSupEdificada" placeholder="Valor metro cuadrado en pesos" (blur)="onTouched()"></campo-requerido>
                    </div>
                    <div class="col-5 offset-md-1">
                      <label>Indice  Lote asfaltado&nbsp;&nbsp;&nbsp;</label>

                      <campo-requerido data-placement="bottom" title="Expresar el porcentaje de incidencia en el impuesto por ejemplo un 5%" formControlName="IncrementoAsfalto" placeholder="% Asfalto" (blur)="onTouched()"></campo-requerido>
                    </div>
                  </div>
                </div>
              </section>
              <h5><p>{{resultadoGuardadoModal}}</p></h5>
            </div>
            <div class="modal-footer">
              <!--modal.close('Close click')-->
              <input id="btns" [disabled]="!Valuacion.valid" type="submit" (click)="guardarDatos()" value="Guardar" class="btn-success col-5 offset-md-2" />
              <button type="button" class="btn-outline-dark col-5" (click)="cerrarmodal()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #myModalInfo let-modal>
      <div class="modal bg-secondary" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content ">
            <div class="modal-header">
              <h5 class="modal-title">{{tituloModal}}</h5>
              \            <img src="../../../assets/Imagenes/logo-cristal_3.png" width="100" height="100" />
            </div>
            <div class="modal-body">
              {{resultadoGuardadoModal}}
            </div>
            <div class="modal-footer">
              <!--modal.close('Close click')-->
              <button type="button" class="btn btn-outline-dark" (click)="cerrarmodal()">Cerrar</button>
            </div>
          </div>

        </div>

      </div>
    </ng-template>
    <ng-template #myModalInfo2 let-modal>
      <div class="modal bg-secondary" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content ">
            <div class="modal-header">
              <h3 class="modal-title">Actualizacion anual de Impuesto Inmobiliario</h3>
             <img src="../../../assets/Imagenes/logo-cristal_3.png" width="100" height="100" />
            </div>
            <div class="modal-body">
              <h4 class="modal-title"><p>El Impuesto anual se ha guardado correctamente
               ,Los valores que usted ingreso son los siguientes</p></h4>

              <h5><label class="col-md-12 offset-md-1" style="color: #240f7d;">Superficie de terreno :&nbsp;{{DatosRegistrados.ValorSupTerreno}}</label></h5>
              <h5><label class="col-md-12 offset-md-1" style="color: #240f7d;">Superficie Edificada :&nbsp; {{DatosRegistrados.ValorSupEdificada}}</label></h5>
              <h5><label class="col-md-12 offset-md-1" style="color: #240f7d;">Porcentual Esquina :&nbsp;{{DatosRegistrados.IncrementoEsquina}}</label></h5>
              <h5><label class="col-md-12 offset-md-1" style="color: #240f7d;">Porcentual Asfalto :&nbsp;{{DatosRegistrados.IncrementoAsfalto}}</label></h5>
</div>
            <div class="modal-footer">
              <button type="button" class="col-md-3 offset-md-2 btn-outline-dark" (click)="cerrarmodal()">Cerrar</button>
            </div>
          </div>

        </div>

      </div>
    </ng-template>

  </div>
  </form>

