
<div class="container-fluid ">

  <div class="d-flex align-items-center p-2 my-2 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
    <img src="../../../assets/IconsGoogle/gear.svg" alt="" width="58" height="58">
    <div class="titulo text-center form-group col-md-8 offset-md-1">
      <p> Tablero de Procesos</p>
    </div>
  </div>



</div>

<div class="row d-flex row d-flex justify-content-center">

  <div class="col-md-3 offset-md-1">

    <a class="btn btn-lg" (click)="getinteresMensual()">
      <span>Interés Mensual</span>
    </a>
  </div>





  <div class="col-md-4 ">

    <a class="btn btn-lg" (click)="getConfirmacionBoletas()">
      <span>Confirmación de Boletas</span>
    </a>
  </div>

  <div class="col-md-4">

    <a class="btn btn-lg" (click)="getGeneracionImpuestos()">
      <span>Generar Impuestos</span>
    </a>
  </div>
</div>

