<div class="cardcss">
  <div class="card text-center sombras">
    <div class="card-header tituloTabla">
      Generación de Datasets Financieros
    </div>
    <div class="card-body">


      <div class="col-md-5 offset-1 ">
        <button class="btn btn-primary" (click)="generarDatasetImpuestos()">Impuestos Inmobiliarios </button>
      </div>
      <div class="col-md-5 offset-1">
        <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="volver()">Volver</button>
      </div>

    </div>
    <div class="card-footer text-muted">
      <img src="../../../assets/Imagenes/openData.png" alt="" width="150" height="150">
    </div>
  </div>
</div>

