

.lh-condensed {
  line-height: 1.25;
}


.alert {
  background-color: #2196F3;
}


.combobox {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #240f7d;
}



.letraButton {
  color: rgba(150,224,236,1);
  font-size: 0.8em;
  font-weight: 900;
  text-shadow: 2px 3px 4px #555;
}


.sin-borde {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  background-color: transparent;
}

.sin-borde {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-radius:4em;
}

input[type=checkbox] {
  transform: scale(1.2);
}


