<div class="pagetitle">
    <h1>Bienvenida</h1>
</div>
<!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Card Denuncias Activas -->
    <div class="card info-card customers-card">

      <div class="card-body">
        <div class="row">

          <div class="col-md-5">
            <h5 class="card-title">Denuncias Activas&nbsp;<span class="text-success small pt-1 fw-bold">| {{totalDenuncias}}</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-shield-lock" [routerLink]="['/tabla-denuncia']" title="Click aquí para gestionar las denuncias."></i>
              </div>
              <div class="ps-3">
                <span class="text-success small">Asignadas a mi</span>
                <h6>
                  {{totalDenunAsignaEmpleado}}
                </h6>
                <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
              </div>
            </div>
          </div>
          <!--Historicos de denuncias-->
          <div class="col-md-5 offset-2">
            <h5 class="card-title">Denuncias Finalizadas&nbsp;<span class="text-success small pt-1 fw-bold">| {{totalDenunCerradas}}</span></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-clock-history" [routerLink]="['/historico-denuncia-tabla']" title="Click aquí visualizar el historico de denuncias resueltas."></i>
              </div>
              <div class="ps-3">
                <span class="text-success small">Asignadas a mi</span>
                <h6>
                  <!--  TAREA Aca deben ir el total de denuncias cerradas por el empleado.-->
                  <!--{{totalDenunAsignaEmpleado}}-->
                </h6>
                <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
              </div>
            </div>
          </div>
          <!--Fin de historico de denuncias resueltas-->
        </div>
      </div>
    </div>
    <!-- End Denincias Card -->
    <!-- Inicia datos Abiertos Card -->
    <div class="card-body">
      <h5 class="card-title">Datos Abiertos <span>| Today</span></h5>

      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-clipboard-data" [routerLink]="['/generacion-datasets']" title="Click aquí para gestionar los dataset para datos abiertos."></i>

        </div>
        <div class="ps-3">
          <h6>145</h6>
          <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

        </div>
      </div>
    </div>
    <!-- End DAtos Abiertos Card -->
    <!-- Revenue Card -->
    <div class="col-md-6">
      <div class="card info-card customers-card">

        <div class="card-body">
          <h5 class="card-title">Reclamos <span>| Mis Asignaciones</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-emoji-angry"></i>
            </div>
            <div class="ps-3">
              <h6>0</h6>
              <span class="text-success small pt-1 fw-bold">507</span> <span class="text-muted small pt-2 ps-1">Total Activas</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End Revenue Card -->
    <!-- Sales Card -->
    <div class="col-md-6">
      <div class="card info-card revenue-card">

        <div class="card-body">
          <h5 class="card-title">Solicitudes <span>| Mis Asignaciones</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-envelope-exclamation"></i>
            </div>
            <div class="ps-3">
              <h6>12</h6>
              <span class="text-success small pt-1 fw-bold">34</span> <span class="text-muted small pt-2 ps-1">Total Activas</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End Sales Card -->
    <!-- Customers Card -->
    <div class="col-md-6">
      <div class="card info-card sales-card">

        <div class="card-body">
          <h5 class="card-title">Sugerencias <span>| Mis Asignaciones</span></h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="bi bi-envelope    "></i>
            </div>
            <div class="ps-3">
              <h6>1</h6>
              <span class="text-success small pt-1 fw-bold">385</span> <span class="text-muted small pt-2 ps-1">Total Activas</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End Customers Card -->


  </div>
</section>

