<form [formGroup]="Sugerencia" (ngSubmit)="guardarDatos()">
  <div class="container-fluid">
    <div class="d-flex align-items-center p-2 my-2 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
      <img src="../../../assets/IconsGoogle/sugerencia.svg" alt="" width="58" height="58">
      <div class="tituloFormulario text-center form-group col-md-8 offset-md-1">
        <p> Formulario de Sugerencias</p>
      </div>
    </div>


    <div class="row p-3 ml-3 form-group offset-md-2 ">
      <div class="form-group col-md-10 offset-md-1">
        <label for="exampleFormControlTextarea1"> (*)</label>
        <textarea class="form-control" formControlName="Descripcion" id="exampleFormControlTextarea1" rows="7" placeholder="Detalle en que podemos mejorar,ya sea en cuanto a nuestra atencion, a mejoras que pudieramos implementar o proyectos."></textarea>
      </div>
    </div>



    <div style="margin:1em; color:white" class="form-group col-md-12 justify-content-around">
      <div class="text-center  bg-danger shadow p-2 mb-5 rounded shadow-sm" *ngIf="Sugerencia.valid==false">Verifique que los datos indicados con (*) estén correctamente ingresados</div>
    </div>


    <div class="form-group col-md-8 offset-md-4">
      <input [disabled]="!Sugerencia.valid" type="submit" value="Generar" class="btn btn-success col-md-1 offset-md-1" (click)="clickMethod()" />
      <button type="button" class="btn btn-light col-md-1 offset-md-1">Cancelar</button>
    </div>
  </div>




</form>
