.tituloFormulario {
  color: #240f7d;
  font-size: 3em;
  font-weight: 900;
  text-shadow: 6px 8px 10px #555;
}

.Tipo_Denuncia {
  margin-right: 1.5em;
}

.textoTabla {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #000000;
}


.tituloTabla {
  font-size: 1.3em;
}

.combobox {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #240f7d;
}
