<div class="container">
  <section class="section">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <app-cabecera-titulo [nombreComponente]="'TrabajoTablaComponent'"></app-cabecera-titulo>

          <table class="table table-striped table-sm" style="padding-bottom: 1.0em">
            <thead>
              <tr>
                <th class="text-center" *ngFor="let cabecera of cabeceras">{{cabecera}} </th>
                <th class="text-center" *ngIf="isMantenimiento==true">Operaciones&nbsp;&nbsp;&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trabajo of trabajos">
                <td class="text-center">{{trabajo.fecha|date: 'dd/MM/yyyy HH:MM'}}</td>
                <td class="text-center">{{trabajo.nro_Trabajo}}</td>
                <td class="text-center">{{(trabajo.descripcion.length>6)? (trabajo.descripcion | slice:0:70)+'
                  ':(trabajo.descripcion)}}<strong>...</strong></td>
                <td class="text-center">{{trabajo.id_Usuario}}</td>
                <td class="text-center">{{trabajo.apellidoEmpleado}}</td>

                <td class="text-center" *ngIf="isMantenimiento==true">
                  <button type="button" class="btn btn-outline-primary btn-sm"
                    [routerLink]="['/trabajo-form-generar',trabajo.nro_Denuncia]" title="Registrar nuevo trabajo">
                    <i class="bi bi-gear"></i>

                  </button>
                  <button type="button" class="btn btn-outline-primary btn-sm ms-1"
                    [routerLink]="['/trabajo-detalle-denuncia',trabajo.nro_Trabajo]"
                    title="Ver detalle de trabajo realizado"> <i class="bi bi-eye-fill"></i></button>

                </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <hr class="mb-4">
            <div class="form-group col-md-12">
              <button type="button" class="btn btn-secondary col-md-4 offset-md-7" (click)="volver()">Volver</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>