
<div class="container">
  <div class="card">
    <div class="card-body">




      <body class="bg-light">
        <div class="container">
          <div class="d-flex align-items-center p-2 my-2 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
            <i class="bi bi-shield-lock text-dark"[routerLink]="['/tabla-denuncia']" style="font-size: 2.5em;" title="Denuncia generada por el vecino.Click para regresar al tablero"></i>
            <div class="card-title text-center form-group col-md-8 offset-md-1">
              <p>Información provista por el vecino </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <h5 class="d-flex justify-content-between align-items-center mb-3">
                <span class="badge badge-secondary badge-pill">3</span>
              </h5>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let prueba of pruebas let i = index">
                  <div>
                    <h6 class="my-0 text-muted">Prueba gráfica nro {{prueba.nroImagen}}</h6>
                    <!--<small class="text-muted">ampliar imagen..</small>-->
                    <a href={{prueba.foto}} target="_blank" rel="noopener noreferrer">
                      <img src={{prueba.foto}} class=" img-fluid" style="width: 600px; height: auto;">
                    </a>
                  </div>

                </li>
              </ul>
            </div>
            <!--Aca empieza la Primera columa del row general que es la de registro de trabajo. (ngSubmit)="guardarDatos() -->

            <div class="col-md-8 order-md-1">
              <form [formGroup]="Trabajo" >
                <div class="container-fluid">
                  <div class="row p-3 my-2 ">
                    <div class="col-md-5  form-group form-inline">
                      <label>Nro Denuncia&nbsp;:&nbsp;</label>
                      <input type="text" class="form-control sin-borde" id="nro_Denuncia" formControlName="nro_Denuncia" placeholder="" value="" readonly>
                    </div>

                    <div class="col-md-5 form-group form-inline">
                      <label for="firstName">Estado&nbsp;:&nbsp;&nbsp;</label>
                      <input type="text" class="form-control sin-borde" id="estado_Denuncia" formControlName="estado_Denuncia" placeholder="" value="" readonly>

                    </div>
                  </div>


                  <div class="row">
                    <div class="form-group col-md-12 mb-3">
                      <label for="Descripcion">Descripcion:</label>
                      <textarea class="form-control sin-borde" formControlName="Descripcion" id="exampleFormControlTextarea1" rows="7" readonly></textarea>
                    </div>
                  </div>



                  <div class="row p-2 my-2 ">
                    <div class="col-md-5 mb-2 form-group form-inline">
                      <label for="calle">Calle  &nbsp;:&nbsp;</label>
                      <input type="text" class="form-control sin-borde " id="calle" formControlName="calle" readonly>
                    </div>

                    <div class="col-md-5 mb-2 form-group form-inline offset-1">
                      <label for="altura">Altura &nbsp;:&nbsp;</label>
                      <input type="text" class="form-control sin-borde " id="altura" formControlName="altura" readonly>
                    </div>

                    <div class="col-md-5 mb-2  form-group form-inline">
                      <label for="entre_Calles">Entre Calles &nbsp;:&nbsp;</label>
                      <input type="text" class="form-control sin-borde " id="entre_Calles" formControlName="entre_Calles" readonly>
                    </div>
                  </div>

                  <div class="row p-3 my-2 ">
                    <div class="col-md-6 mb-2 form-group form-inline">
                      <label for="Nombre_Infractor">Infractor &nbsp;:&nbsp;&nbsp;</label>
                      <input type="text" class="form-control sin-borde " id="nombre_Infractor" formControlName="nombre_Infractor" readonly>
                    </div>

                    <div class="col-md-6 mb-2 form-group form-inline">
                      <label for="tipo_Denuncia">Tipo Denuncia &nbsp;:&nbsp;&nbsp;</label>
                      <input type="text" class="form-control sin-borde " id="tipo_Denuncia" formControlName="tipo_Denuncia" readonly>
                    </div>
                  </div>

                  <div class="row p-3 my-2 ">
                    <div class="col-md-5 mb-2 form-group form-inline">
                      <label for="legajoActual" title="Se visualiza el legajo del empleado que actualmente posee la denuncia">Legajo Empleado: &nbsp;&nbsp;&nbsp;</label>
                      <input type="text" class="form-control w-25 sin-borde " id="legajoActual" formControlName="legajoActual" placeholder="" value="">
                    </div>
                  </div>

                  <div class="row p-3 my-2 encuadre">
                    <div class="col-md-4 mb-2">
                      <!-- Dividir en 2 columnas, cada una con ancho 6 -->
                      <div class="form-group mb-3">
                        <label for="idUsuario">Derivar a:</label>
                        <select id="idUsuario" formControlName="idUsuario" class="form-control text-bg-primary">
                          <option value="">--Seleccione Opción--</option>
                          <option [ngValue]="Empleado.idUsuario" *ngFor="let Empleado of Empleados">
                            Leg: {{Empleado.idUsuario}} -- {{Empleado.nombreUser}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-4 mb-3">
                      <!-- Dividir en 2 columnas, cada una con ancho 6 -->
                      <div class="form-group mb-2">
                        <label for="Nro_Prioridad">Prioridad:</label>
                        <select id="Nro_Prioridad" formControlName="Nro_Prioridad" class="form-control text-bg-primary">
                          <option value="">--Seleccione Opción--</option>
                          <option [ngValue]="Prioridad.nroPrioridad" *ngFor="let Prioridad of Prioridades">
                            {{Prioridad.nombrePrioridad}}
                          </option>
                        </select>
                        <div style="color: coral" *ngIf="Trabajo.controls['Nro_Prioridad'].errors?.pattern">
                          Debe especificar criticidad..
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row p-2 my-2">
                    <div class="col-md-2 offset-1">
                      <button [disabled]="!Trabajo.valid" title="Puede derivar la denuncia a otro empleado, y/o recategorizar la prioridad de la denuncia" class="btn btn-success btn-sm btn-block" (click)="guardarDatos()">Derivar</button>
                    </div>
                    <div class="col-md-3 offset-1">
                      <button class="btn btn-primary btn-sm btn-block" data-bs-placement="top" data-bs-toggle="tooltip" title="Registre el trabajo realizado sobre la denuncia" (click)="registrarTrabajo()">Registrar Trabajo</button>
                    </div>
                    <div class="col-md-2 offset-1">
                      <button class="btn btn-secondary btn-sm btn-block" (click)="volver()">Volver</button>
                    </div>
                  </div>
                </div>

                <ng-template #myModalInfo let-modal>
                  <div class="modal bg-secondary" tabindex="-1" style="display:block;" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                      <div class="modal-content ">
                        <div class="modal-header">
                          <h5 class="modal-title">{{tituloModal}}</h5>
                          <img src="../../../assets/Imagenes/logo-cristal_3.png" width="100" height="100" />
                        </div>
                        <div class="modal-body">
                          {{resultadoGuardadoModal}}
                        </div>
                        <div class="modal-footer">
                          <!--modal.close('Close click')-->
                          <button type="button" class="btn btn-outline-dark" (click)="cerrarmodal()">Cerrar</button>
                        </div>
                      </div>

                    </div>

                  </div>
                </ng-template>
              </form>
            </div>
          </div>

        </div>


      </body>

    </div>

    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  </div>
</div>


