<div class="container">
  <div class="card">
    <div class="card-body">

      <app-cabecera-titulo [nombreComponente]="'HistoricoDenunciaTrabajosComponent'"></app-cabecera-titulo>

      <table class="table table-striped table-sm" style="padding-bottom: 1.0em">
        <thead class="thead-dark tituloTabla">
          <tr>
            <th class="text-center" *ngFor="let cabecera of cabeceras">{{cabecera}} </th>

          </tr>
        </thead>
        <tbody class="textoTabla">
          <tr *ngFor="let trabajo of trabajos">
            <td class="text-center">{{trabajo.fecha|date: 'dd/MM/yyyy HH:MM'}}</td>
            <!--<td class="text-center description-cell">{{(trabajo.descripcion.length>100)? (trabajo.descripcion | slice:0:100)+' ':(trabajo.descripcion)}}</td>-->
            <!--<td class="text-center">{{(trabajo.descripcion.length>100)? (trabajo.descripcion | slice:0:300)+' ':(trabajo.descripcion)}}</td>-->
            <td class="text-center col-md-8 col-sm-8">{{trabajo.descripcion}}</td>

            <td class="text-center">{{trabajo.apellidoEmpleado}} </td>
          </tr>
        </tbody>
      </table>

      <div class="col-md-6 offset-3 mb-5 mt-5">
        <button class="btn btn-primary btn-sm btn-block" (click)="volver()">Volver</button>
      </div>
      <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    </div>
  </div>

