
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Imágenes del Reclamo</h5>
        <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="activeModal.dismiss()"></button>
    </div>

    <div class="modal-body">

        <div class="card">
            <div class="card-body">
    
              <!-- Slides with controls -->
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active text-center">
                        <img [src]="imagenes[0]" class="w-50 h-50" alt="...">
                    </div>
                    <div class="carousel-item text-center" *ngIf="hayFoto2">
                        <img [src]="imagenes[1]" class="w-50 h-50" alt="...">
                    </div>                  
                </div>
    
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
    
              </div><!-- End Slides with controls -->
    
            </div>
        </div>
    </div>    

</div>