<div class="container">
  <section class="section">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <!-- <div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm container">
            <i class="bi bi-book text-dark" style="font-size: 2.5em;" title="Listado de Denuncias Activas."></i>
            <div class="card-title text-center form-group col-md-8 offset-md-1">
              <p>Tablero de Gestión de Páginas</p>
            </div>
          </div> -->

          <app-cabecera-titulo [titulo]="'Tablero de Gestión de Páginas'"
                               [rutaImagen]="'../../../assets/IconsGoogle/trabajador.svg'"
                               [link]="'bienvenida'"></app-cabecera-titulo>


         <table datatable class="table table-striped table-sm">
            <thead>
    
              <tr>
                <th class="text-center" *ngFor="let cabecera of cabeceras ">{{cabecera}} </th>
                <th class="text-center" *ngIf="isMantenimiento==true">Acciones</th>
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let pagina of Paginas | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{pagina.idPagina}}</td>
                <td>{{pagina.mensaje}}</td>
                <td>{{pagina.accion}}</td>
                <td class="text-center" *ngIf="isMantenimiento==true">
                  <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/pagina-form-generar',pagina.idPagina]" title="Modificar"><i class="bi bi-pencil"></i></button>
                  <button type="button" class="btn btn-outline-danger btn-sm ms-1" (click)="preguntarEliminarPagina(pagina.idPagina)" title="Borrar"><i class="bi bi-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row text-center">
            <pagination-controls previousLabel="Anteriores" nextLabel="Siguientes" (pageChange)="p = $event"></pagination-controls>
          </div>
    
          <div class="row">
            <hr class="mb-4">
            <div class="form-group col-md-12">
              <button type="button" value="Nuevo" class="btn btn-primary col-md-4 offset-md-1 " [routerLink]="['/pagina-form-generar']"> Nuevo</button>
              <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="volverHome()">Volver</button>
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    </div>
  </section>

  

</div>
