.container {
  /*max-width: 1400px;*/
  max-width: 1600px;
}

.lh-condensed {
  line-height: 1.25;
}

.tituloFormulario {
  color: #240f7d;
  font-size: 3em;
  font-weight: 900;
  text-shadow: 6px 8px 10px #555;
}


.cssDescripcion {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
}


.sin-borde {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  background-color: transparent;
}
