/*.container {*/
  /*max-width: 1400px;*/
  /*max-width: 1600px;
}*/

.lh-condensed {
  line-height: 1.25;
}

/*.tituloFormulario {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
}*/



.cssDescripcion {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}


.sin-borde {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  background-color: transparent;
}
