

<div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
  <img src="../../../assets/IconsGoogle/place.svg" alt="" width="58" height="58">
  <div class="tituloFormulario text-center form-group col-md-8 offset-md-1">
    <p>Mapa Inmobiliario Provincial </p>
  </div>
</div>

<div class="row">

  <iframe src="" style="border:2px #ffffff dotted;" name="urlSafe" scrolling="no" frameborder="1" allowfullscreen [src]="urlSafe"></iframe>
</div>

<!--height="800" width="800"-->
