<div class="container">
    <app-cabecera-titulo [nombreComponente]="'IndicadoresGestionComponent'"></app-cabecera-titulo>
    <section class="section dashboard">
        <div class="row">
            <!-- Sales Card -->
            <div class="col-xxl-6 col-md-6 offset-3">
                <div class="card info-card sales-card">
  
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filtro</h6>
                      </li>
  
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionRequerimientosMes()">Este Mes</a></li>
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionRequerimientosTrimestre()">Este Trimestre</a></li>
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionRequerimientosAnio()">Este Año</a></li>
                    </ul>
                  </div>
  
                  <div class="card-body">
                    <h5 class="card-title">Tiempo Medio Resolución Requerimientos <span>| {{ tituloPeriodoIndicadorTiempoMedioResolucionRequerimientos }}</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-list-task"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{ valorActual }}</h6>
                        <span class="text-success small pt-1 fw-bold">{{ valorVariacion }}</span> <span class="text-muted small pt-2 ps-1">{{ tipoVariacion }}</span>
  
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Sales Card -->
  
              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-4">
                <div class="card info-card revenue-card">
  
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filtros</h6>
                      </li>
  
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionDenunciasMes()">Este Mes</a></li>
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionDenunciasTrimestre()">Este Trimestre</a></li>
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionDenunciasAnio()">Este Año</a></li>
                    </ul>
                  </div>
  
                  <div class="card-body">
                    <h5 class="card-title">Tiempo medio resolución Denuncias   <span>| {{ tituloPeriodoIndicadorTiempoMedioResolucionDenuncias }}</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-shield-fill-exclamation"></i>
                      </div>
                      <div class="ps-3">
                        <h6>4.8 dias</h6>
                        <span class="text-success small pt-1 fw-bold">17%</span> <span class="text-muted small pt-2 ps-1">Decremento</span>
  
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Revenue Card -->

              <!-- Sales Card -->
            <div class="col-xxl-4 col-md-4">
                <div class="card info-card revenue-card">
  
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filtro</h6>
                      </li>
  
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionRequerimientosMes()">Este Mes</a></li>
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionRequerimientosTrimestre()">Este Trimestre</a></li>
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionRequerimientosAnio()">Este Año</a></li>
                    </ul>
                  </div>
  
                  <div class="card-body">
                    <h5 class="card-title">Ingresos por Pago Impuestos <span>| 2024</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-currency-dollar"></i>
                      </div>
                      <div class="ps-3">
                        <h6>$21,456,431</h6>
                        <span class="text-danger small pt-1 fw-bold">3.478.001</span> <span class="text-muted small pt-2 ps-1">Agosto</span>
  
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Sales Card -->
  
              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-4">
                <div class="card info-card revenue-card">
  
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filtros</h6>
                      </li>
  
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionDenunciasMes()">Este Mes</a></li>
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionDenunciasTrimestre()">Este Trimestre</a></li>
                      <li><a class="dropdown-item" (click)="verTiempoMedioResolucionDenunciasAnio()">Este Año</a></li>
                    </ul>
                  </div>
  
                  <div class="card-body">
                    <h5 class="card-title">Tiempo medio resolución Denuncias   <span>| {{ tituloPeriodoIndicadorTiempoMedioResolucionDenuncias }}</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-shield-fill-exclamation"></i>
                      </div>
                      <div class="ps-3">
                        <h6>4.8 dias</h6>
                        <span class="text-success small pt-1 fw-bold">17%</span> <span class="text-muted small pt-2 ps-1">Decremento</span>
  
                      </div>
                    </div>
                  </div>
  
                </div>
              </div><!-- End Revenue Card -->
        </div>
    </section>
</div>
