<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Formulario de Reclamo</h5>

            <form [formGroup]="Reclamo" (ngSubmit)="guardarDatos()" class="row g-3">

                <div class="col-md-6">
                    <label for="exampleInputEmail1" class="form-label">(*) Tipo de Reclamo</label>
                    <select id="Tipo_Reclamo" formControlName="codTipoReclamo" class="form-select" [ngClass]="{'is-invalid' : codTipoReclamoNoValido}">
                        <option value="">--Seleccione Opción--</option>
                        <option [ngValue]="TipoReclamo.cod_Tipo_Reclamo" *ngFor="let TipoReclamo of TiposReclamo">{{TipoReclamo.nombre}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="codTipoReclamoNoValido">
                        El tipo de reclamo es requerido.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="formGroupExampleInput" class="form-label">(*) Nombre calle</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : calleNoValido}" id="calle" formControlName="calle" value="">
                    <div class="invalid-feedback" *ngIf="calleNoValido">
                        El nombre de calle es requerido. No puede superar los 50 caracteres.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="formGroupExampleInput" class="form-label">(*) Altura aproximada</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : alturaNoValido}" id="calle" formControlName="altura" value="">
                    <div class="invalid-feedback" *ngIf="alturaNoValido">
                        La altura aproximada es requerida. No puede superar los 6 caracteres.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="formGroupExampleInput" class="form-label">(*) Entre calles</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid' : entreCallesNoValido}" id="formGroupExampleInput" formControlName="entreCalles" value="">
                    <div class="invalid-feedback" *ngIf="entreCallesNoValido">
                        El dato de entre calles es requerido. No puede superar los 50 caracteres.
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <label for="nomApeVecino" class="form-label">(*) Nombre y Apellido vecino</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid' : nomApeVecinoNoValido}" id="nomApeVecino" formControlName="nomApeVecino" value="">
                        <div class="invalid-feedback" *ngIf="nomApeVecinoNoValido">
                            El nombre del vecino es requerido. No puede superar los 100 caracteres.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="mailVecino" class="form-label">(*) Mail vecino</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid' : mailVecinoNoValido}" id="mailVecino" formControlName="mailVecino" value="">
                        <div class="invalid-feedback" *ngIf="mailVecinoNoValido">
                            El mail del vecino es requerido. No puede superar los 100 caracteres. Debe tener un formato válido.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="telefonoVecino" class="form-label">(*) Teléfono vecino</label>
                        <input type="text" class="form-control" [ngClass]="{'is-invalid' : telefonoVecinoNoValido}" id="telefonoVecino" formControlName="telefonoVecino" value="">
                        <div class="invalid-feedback" *ngIf="telefonoVecinoNoValido">
                            El teléfono del vecino es requerido. No puede superar los 50 caracteres.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="descripcion" class="form-label">(*) Descripción</label>
                    <textarea type="text" class="form-control" [ngClass]="{'is-invalid' : descripcionNoValido}" id="descripcion" formControlName="descripcion" value="" rows="3" placeholder="Descripcion del reclamo del servicio, circunstancias que lo generaron. Puede incluir nombres de personas implicadas para mayor trazabilidad."></textarea>
                    <div class="invalid-feedback" *ngIf="descripcionNoValido">
                        La descripción es requerida. No puede superar los 200 caracteres.
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="file" class="form-control" id="fotoUploader1" lang="es" #fileUploader1 (change)="changeFoto1($event)" accept="image/*">
                </div>

                <div class="col-md-6">
                    <input type="file" class="form-control" id="fotoUploader2" lang="es" #fileUploader2 (change)="changeFoto2($event)" accept="image/*">
                </div>

                <div class="col-md-12 order-md-1">

                    <div class="row">
                        <hr class="mb-4">
                        <div class="form-group col-md-12 mb-3 pt-3">
                            <input type="submit" value="Generar" class="btn btn-primary col-md-4 offset-md-1 " />
                            <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="cancelar()">Cancelar</button>
                        </div>

                    </div>

                </div>

            </form>
        </div>

    </div>

    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>