<div class="container">
  <section class="section">

      <div class="row">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">Impuestos Adeudados</h5>
              </div>

              <div class="card-body">

                  <!-- <div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
                    <img src="../../../assets/IconsGoogle/money.svg" alt="" width="58" height="58">
                    <div class="card-title text-center form-group col-md-8 offset-md-1">
                      <p>Tabla de Impuestos </p>
                    </div>
                  </div> -->
                  <!-- <h5 class="card-title">Impuestos Adeudados</h5> -->

                  <!-- Table with stripped rows -->
                  <table class="table table-striped table-sm">
                      <thead>
                          <tr>
                              <th class="text-center" *ngFor="let cabecera of cabeceras">{{cabecera}} </th>
                              <!-- <th class="text-center"><input class="check" (change)="verCheck()" type="checkbox" title="Todos/Ninguno" /></th> -->
                          </tr>
                      </thead>

                      <tbody>
                          <tr *ngFor="let impuesto of impuestos | paginate: { itemsPerPage: 11, currentPage: p }">
                            <td class="text-center">{{impuesto.periodo}}</td>
                            <td class="text-center">{{impuesto.cuota}}</td>
                            <td class="text-center">{{impuesto.fechaVencimiento | date: 'dd/MM/yyyy'}}</td>
                            <td class="text-center">{{impuesto.importeBase|currency:'USD':'symbol'}}</td>
                            <td class="text-center">{{impuesto.interesValor|currency:'USD':'symbol'}}</td>
                            <td class="text-center">{{impuesto.importeFinal|currency:'USD':'symbol'}}</td>
                            <td class="text-center">
                              <input class="check" [name]="impuesto.idImpuesto" (change)="verCheck()" [value]="impuesto.importeFinal" type="checkbox" title="Pagar" />
                            </td>
                          </tr>
                      </tbody>
                  </table>
                  <!-- End Table with stripped rows -->

                  <div class="row">
                    <label class="text-center">El importe total a abonar es: <span class="fw-bold">{{suma_actual|currency:'USD':'symbol'}}</span></label>
                  </div>
                 
              </div>
          </div>
      </div>
  </section>

  <div class="row text-center">
      <pagination-controls previousLabel="Anteriores" nextLabel="Siguientes" (pageChange)="p = $event"></pagination-controls>
  </div>

  <div class="col-md-12 order-md-1">

    <div class="row">
        <hr class="mb-4">
        <div class="form-group col-md-12 mb-3 pt-3">
            <button type="button" class="btn btn-primary col-md-4 offset-md-1 " (click)="guardarDatos()">Pagar</button>
            <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="volver()">Volver</button>
        </div>

    </div>

  </div>

</div>

<!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
        <img src="../../../assets/IconsGoogle/money.svg" alt="" width="58" height="58">
        <div class="card-title text-center form-group col-md-8 offset-md-1">
          <p>Tabla de Impuestos </p>
        </div>
      </div>
      <body>
        <form [formGroup]="FGimpuestos" (ngSubmit)="guardarDatos()">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="text-center" *ngFor="let cabecera of cabeceras">{{cabecera}} </th>
              
              </tr>
            </thead>

            <tbody class="textoTabla">
              <tr *ngFor="let impuestoss of impuestos | paginate: { itemsPerPage: 12, currentPage: p }">
                <td class="text-center">{{impuestoss.mes}}</td>
                <td class="text-center">{{impuestoss.anio}}</td>
                <td class="text-center">{{impuestoss.importeBase|currency:'USD':'symbol'}}</td>
                <td class="text-center">{{impuestoss.interesValor|currency:'USD':'symbol'}}</td>
                <td class="text-center">{{impuestoss.importeFinal|currency:'USD':'symbol'}}</td>
                <td class="text-center">
                  <input class="check" [name]="impuestoss.idImpuesto" (change)="verCheck()" [value]="impuestoss.importeFinal" type="checkbox" title="Pagar" />

     
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <div class="row">
            <label class="textopagar Col-md-12 offset-3 d-flex align-items-center text-center ">El importe total a abonar es: {{suma_actual|currency:'USD':'symbol'}}</label>
          </div>

          <div class="row p-3 my-2">
            <hr class="mb-4">
            <div class="form-group col-md-12 mb-3 pt-3">
              
              <input type="submit" value="Pagar" class="btn btn-success col-md-4 offset-md-1 " />
              <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="volver()">Volver</button>
            </div>

          </div>
        </form>
      </body>
    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div> -->
