.texto-blanco {
  color: white;
  font-size: 1.12em;
}

.NombreTipoUsuario {
  font-size: 1.12em;
}


.tituloSombra {
  color: #240f7d;
  font-size: 3em;
  font-weight: 900;
  text-shadow: 6px 8px 10px #555;
}
