<div class="container">

  <div class="card">
      <div class="card-body">
        
          <app-cabecera-titulo [nombreComponente]="'FormUsuarioGenerarComponent'"></app-cabecera-titulo>


          <form [formGroup]="Usuario" (ngSubmit)="guardarDatos()" class="row g-3">

            <div class="col-md-6">
              <label for="NombrePersona" class="form-label">(*) Nombre</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : nombrePersonaNoValido}" id="calle" formControlName="NombrePersona" value="">
              <div class="invalid-feedback" *ngIf="nombrePersonaNoValido">
                  El nombre es requerido y no puede superar los 100 caracteres
              </div>
            </div>

            <div class="col-md-6">
              <label for="Apellido" class="form-label">(*) Apellido</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : apellidoNoValido}" id="Apellido" formControlName="Apellido" value="">
              <div class="invalid-feedback" *ngIf="apellidoNoValido">
                  El apellido es requerido y no puede superar los 100 caracteres
              </div>
            </div>

            <div class="col-md-6">
              <label for="Dni" class="form-label">(*) Nro. Documento</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : dniNoValido}" id="Dni" formControlName="Dni" value="">
              <div class="invalid-feedback" *ngIf="dniNoValido">
                  El número de documento es requerido y no puede superar los 10 caracteres
              </div>
            </div>

            <div class="col-md-6">
              <label for="FechaNac" class="form-label">(*) Fecha Nacimiento</label>
              <input type="date" class="form-control" [ngClass]="{'is-invalid' : fechaNacimientoNoValido}" id="FechaNac" formControlName="FechaNac" value="">
              <div class="invalid-feedback" *ngIf="fechaNacimientoNoValido">
                  La fecha de nacimiento es requerida y debe tener un formato válido
              </div>
            </div>

            <div class="col-md-6">
              <label for="Domicilio" class="form-label">(*) Calle</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : domicilioNoValido}" id="Domicilio" formControlName="Domicilio" value="">
              <div class="invalid-feedback" *ngIf="domicilioNoValido">
                  La calles es requerida y no puede superar los 100 caracteres
              </div>
            </div>

            <div class="col-md-6">
              <label for="Altura" class="form-label">(*) Altura</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : alturaNoValido}" id="Altura" formControlName="Altura" value="">
              <div class="invalid-feedback" *ngIf="alturaNoValido">
                  La altura de la calles es requerida y no puede superar los 5 caracteres
              </div>
            </div>

            <div class="col-md-6">
              <label for="Mail" class="form-label">(*) Mail</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : mailNoValido}" id="Mail" formControlName="Mail" value="">
              <div class="invalid-feedback" *ngIf="mailNoValido">
                  El mail es requerido y debe tener un formato válido
              </div>
            </div>

            <div class="col-md-6">
              <label for="Telefono" class="form-label">(*) Teléfono</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : telefonoNoValido}" id="Telefono" formControlName="Telefono" value="">
              <div class="invalid-feedback" *ngIf="telefonoNoValido">
                  El teléfono es requerido y no puede superar los 50 caracteres
              </div>
            </div>

            <div class="col-md-6">
              <label for="NombreUser" class="form-label">(*) Nombre usuario</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : nombreUsuarioNoValido}" id="NombreUser" formControlName="NombreUser" value="">
              <div class="invalid-feedback" *ngIf="nombreUsuarioNoValido">
                  El nombre de usuario es requerido y no puede superar los 100 caracteres
              </div>
            </div>

            <div class="col-md-6">
              <label for="Contrasenia" class="form-label">(*) Contraseña</label>
              <input type="password" class="form-control" [ngClass]="{'is-invalid' : contraseniaNoValido}" id="Contrasenia" formControlName="Contrasenia" value="">
              <div class="invalid-feedback" *ngIf="contraseniaNoValido">
                  La contraseña es requerida, y debe tener entre 8 y 100 caracteres
              </div>
            </div>

            <div class="col-md-6">
              <label for="TiposRol" class="form-label">(*) Rol del Empleado</label>
              <select id="TiposRol" formControlName="TiposRol" class="form-select" [ngClass]="{'is-invalid' : rolNoValido}">
                  <option value="">--Seleccione Rol--</option>
                  <option [ngValue]="Rol.iidRol" *ngFor="let Rol of TiposRol">{{Rol.nombreRol}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="rolNoValido">
                  El rol es requerido
              </div>
            </div>

            <div class="col-md-6">
              <label for="area" class="form-label">(*) Área del Empleado</label>
              <select id="area" formControlName="NroArea" class="form-select" [ngClass]="{'is-invalid' : areaNoValido}">
                  <option value="">--Seleccione Área--</option>
                  <option [ngValue]="area.nroArea" *ngFor="let area of areas">{{area.nombre}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="areaNoValido">
                  La área es requerida
              </div>
            </div>

              <div class="col-md-12 order-md-1">

                  <div class="row">
                      <hr class="mb-4">
                      <div class="form-group col-md-12 mb-3 pt-3">
                          <input type="submit" value="Generar" class="btn btn-primary col-md-4 offset-md-1 " />
                          <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="volver()">Cancelar</button>
                      </div>

                  </div>

              </div>

          </form>
      </div>

  </div>

</div>





<!-- 
<div class="container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="Usuario" (ngSubmit)="guardarDatos()">


        <div class="d-flex align-items-center p-2 my-2 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
          <img src="../../../assets/Imagenes/Worker.svg" alt="" width="60" height="60">
          <div class="tituloSombra text-center form-group col-md-8 offset-md-1">
            <p> {{titulo}} Empleado Municipal.</p>
          </div>
        </div>

        <div class="col-md-12 order-md-1">
          <div class="row">
            <div class="form-group col-md-6 mb-3 form-group">
              <label for="NombrePersona">(*) Nombre</label>
              <input type="text" class="form-control" id="NombrePersona" formControlName="NombrePersona" placeholder="Ej: Jorge" value="" required>
              <div class="invalid-feedback">
                Su nombre de Pila es requerido.
              </div>
            </div>
            <div class="form-group col-md-6 mb-3">
              <label for="Apellido">(*) Apellido</label>
              <input type="text" class="form-control" id="Apellido" formControlName="Apellido" placeholder="" value="" required>
              <div class="invalid-feedback">
                Apellido is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 mb-3">
              <label for="Telefono">(*) Telefono</label>
              <input type="text" class="form-control" id="Telefono" formControlName="Telefono" placeholder="351-5305248" value="" required>
              <div class="invalid-feedback">
                Telefono is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="Dni">(*) Dni</label>
              <input type="text" class="form-control" id="Dni" formControlName="Dni" placeholder="" value="" required>
              <div class="invalid-feedback">
                Dni is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 mb-3">
              <label for="Mail">(*) Mail</label>
              <input type="text" class="form-control" id="Mail" formControlName="Mail" placeholder="Ej: juan44tolosa@gmail.com" value="" required>
              <div class="invalid-feedback">
                El mail es requerido.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="FechaNac">(*) Fecha de Nacicimiento</label>
              <input type="date" class="form-control" id="FechaNac" placeholder="" value="" required name="Fecha Nacimiento">
              <div class="invalid-feedback">
                Fecha de Nacimiento is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="Domicilio">(*) Calle</label>
              <input type="text" class="form-control" id="Domicilio" formControlName="Domicilio" placeholder="" value="" required>
              <div class="invalid-feedback">
                Domicilio Calle is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="Altura">(*) Altura</label>
              <input type="text" class="form-control" id="Altura" formControlName="Altura" placeholder="" value="" required>
              <div class="invalid-feedback">
                Altura is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 mb-3">
              <label for="NombreUser">(*) Nombre de Usuario :</label>
              <input type="text" class="form-control" id="NombreUser" formControlName="NombreUser" placeholder="" value="" required>
              <div class="invalid-feedback">
                NombreUser is required.
              </div>
            </div>
            <div class=" col-md-6 mb-3">
              <label style='margin-bottom: 0.4em'><strong>(*) Rol del Empleado :</strong></label>
              <select class="form-group d-block w-100" id="TiposRol" formControlName="TiposRol">
                <option value="">&nbsp;&nbsp;--&nbsp;&nbsp;Seleccione Rol&nbsp;&nbsp; --&nbsp;</option>
                <option [ngValue]="Rol.iidRol" *ngFor="let Rol of TiposRol">&nbsp;&nbsp;--&nbsp;&nbsp;{{Rol.nombreRol}}</option>
              </select>
            </div>
          </div>

          <div class="row p-3 my-2">
            <div class="form-group col-md-6 mb-3">
              <label for="Contrasenia">(*)Contraseña</label>
              <input type="password" id="Contrasenia" formControlName="Contrasenia" class="form-control" placeholder="Password" required>
              <div class="invalid-feedback">
                Contrasenia is required.
              </div>
            </div>
          </div>

          <div class="row p-3 my-2">
            <hr class="mb-4">
            <div class="form-group col-md-12 mb-3 pt-3">
              <input [disabled]="!Usuario.valid" type="submit" value="Generar" class="btn btn-secondary col-md-4 offset-md-1 " (click)="clickMethod()" />
              <button type="button" class="btn btn-secondary col-md-4 offset-md-1 " (click)="volver()">Cancelar</button>
            </div>

          </div>

          <div style="margin:1em; color:white" class="form-group col-md-12 justify-content-around">

            <div class="text-center  bg-danger shadow p-2 mb-5 rounded shadow-sm" *ngIf="Usuario.valid==false">Verifique que los datos indicados con (*) estén correctamente ingresados</div>

          </div>






        </div>


      </form>

    </div>

  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div> -->

