<div class="container-fluid">
  <!--Denuncias-Reclamos-Solicitudes-sugerencias-->
  <div class="row  mt-3 row-cols-1 row-cols-md-2 g-4">
  </div>




  <!-- Generacion de SET DE Graficas Denuncias-->
  <div class="row p-2 mt-3 row-cols-1 row-cols-md-2 g-4 ">
    <div class="col tarjeta">
      <div class="card sin-borde shadow-lg">
        <div class="card-block text-center">
          <h4 class="card-title titulo">Indicadores de Denuncias</h4>
          <img src="../../../assets/Imagenes/indicadores.png" alt="" width="200" height="200" [routerLink]="['/charts-denuncia']" title="Click aquí para generar dataset financieros.">
        </div>
      </div>
    </div>

    <div class="col tarjeta">
      <div class="card sin-borde shadow-lg">
        <div class="card-block text-center">
          <h4 class="card-title titulo">Indicadores de Requerimientos</h4>
          <img src="../../../assets/Imagenes/requerimientos.png" alt="" width="200" height="200" [routerLink]="['/charts-reclamos']" title="Click aquí para gestionar las denuncias.">
        </div>
       </div>
    </div>

    <div class="col tarjeta ">
      <div class="card sin-borde shadow-lg">
        <div class="card-block text-center">
          <h4 class="card-title titulo">Indicadores ambientales</h4>
          <img src="../../../assets/Imagenes/ambiente2.png" alt="" width="200" height="200" [routerLink]="['/tabla-denuncia']" title="Click aquí para gestionar las denuncias.">
        </div>
   </div>
    </div>

    <div class="col tarjeta">
      <div class="card sin-borde shadow-lg">
        <div class="card-block text-center">
          <h4 class="card-title titulo">Indicadores de Salud </h4>
          <img src="../../../assets/IconsGoogle/indiicadoresSalud.png" alt="" width="200" height="200" [routerLink]="['/tabla-denuncia']" title="Click aquí para gestionar las denuncias.">
        </div>
      </div>
    </div>

  </div>




</div>

