
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm container">
        <i class="bi bi-shield-lock text-dark" [routerLink]="['/bienvenida']" style="font-size: 2.5em;" title="Listado de Denuncias Activas.Click para dashboard"></i>
        <div class="card-title text-center form-group col-md-8 offset-md-1">
          <p>Charts Denuncias</p>
        </div>
      </div>
      <!-- Generacion de SET DE DATOS ABIERTOS-->
      <!-- <div class="row p-2 mt-3 row-cols-1 row-cols-md-2 g-4">-->
      <div class="row mt-5 row-cols-10 row-cols-md-10 justify-content-center">
        <div class="tarjeta">
          <div class="card-body text-center">
            <h5 class="card-title titulo" title="Click aqui para ayuda Contextual.">Proporción denuncias en los ultimos 30 dias</h5>
            <canvas id="chart">{{ chart }}</canvas>
          </div>
        </div>

        <div class="tarjeta col offset-md-1">
          <div class="card-body text-center">
            <h5 class="card-title titulo" title="Click aqui para ayuda Contextual.">Trabajos realizados los ultimos 6 meses</h5>
            <canvas id="barchart"></canvas>
          </div>
        </div>

      </div>

      <div class="row mt-5 row-cols-4 row-cols-md-4 justify-content-center">

        <div class="ml-2 align-content-end">
          <button type="button" class="btn btn-secondary col-md-8 offset-md-1" (click)="volver()">Escritorio</button>
        </div>
        <div class=" align-content-start">
          <button type="button" class="btn btn-success col-md-8 offset-md-1" (click)="volverAtras()">Volver atr&aacute;s</button>

        </div>
      </div>


    </div>

  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>


