<div class="container">
  <div class="card">
    <div class="card-body">      
      <app-cabecera-titulo [nombreComponente]="'DenunciaFormGenerarComponent'"></app-cabecera-titulo>
      <div class="container pt-4">
        <form [formGroup]="Denuncia" (ngSubmit)="guardarDatos()" class="row g-3">
          <div class="col-md-6">
            <label>(*) Tipo de Denuncia&nbsp;</label>
            <select id="Tipo_Denuncia" formControlName="codTipoDenuncia" class="form-select">
              <option value="">-- Seleccione Opción --</option>
              <option [ngValue]="TipoDenuncia.cod_Tipo_Denuncia" *ngFor="let TipoDenuncia of TiposDenuncia">{{TipoDenuncia.nombre}}</option>
            </select>
          </div>
        <div class="col-md-6">
            <label for="formGroupExampleInput">(*) Calle</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" Calle del hecho" formControlName="Calle">
          </div>

          <div class="col-md-6">
            <label for="formGroupExampleInput">(*) Altura</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Altura aproximada" formControlName="Altura">
          </div>

          <div class="col-md-6">
            <label for="formGroupExampleInput">(*) Entre Calles</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Entre Calles" formControlName="Entre_Calles">
          </div>

          <div class="col-12">
            <label for="formGroupExampleInput">(*) Observaciones</label>
            <textarea class="form-control" formControlName="Descripcion" [ngClass]="{'is-invalid' : DescripcionNoValido}" id="exampleFormControlTextarea1" rows="3" placeholder="Descripcion de la circunstancia o acciones realizadas por el infractor, puede añadirse informacion que se considere importante"></textarea>
            <div class="invalid-feedback" *ngIf="isFormSubmitted && Denuncia.controls['Descripcion'].errors?.required">
              El DNI es un dato requerido.
            </div>
            <div class="invalid-feedback" *ngIf="isFormSubmitted && Denuncia.controls['Descripcion'].errors?.minlength">
              El DNI ingresado es incorrecto, verifique el número ingresado.
            </div>
            <div class="invalid-feedback" *ngIf="isFormSubmitted && Denuncia.controls['Descripcion'].errors?.maxlength">
              El DNI ingresado es incorrecto, verifique por favor.
            </div>
            
          </div>


          <div class="col-md-6">
            <label for="formGroupExampleInput">Nombre Infractor</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre Infractor" formControlName="Nombre_Infractor">
          </div>

          <div class="col-md-6">
            <label for="formGroupExampleInput">Apellido Infractor</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Apellido Infractor" formControlName="Apellido_Infractor">
          </div>

          <div class="d-flex align-items-center bg-light shadow mb-3 rounded shadow-sm card-title">
            <div class="form-group mx-md-n5 col-md-12 text-center">  <img src="../../../assets/IconsGoogle/camera.svg" alt="" width="40" height="40"> &nbsp;&nbsp;&nbsp; Puede añadir hasta 3 imágenes como prueba </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Adjuntar Prueba 1
              </div>
              <img src="{{foto1Url}}" class="card-img-top" height="240" />
              <div class="card-body">
                <input type="file" class="form-control custom-file-input" id="fupFoto" lang="es" (change)="changeFoto()" accept="image/*">

              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Adjuntar Prueba 2
              </div>
              <img src="{{foto2Url}}" class="card-img-top" height="240" />
              <div class="card-body">
                <input type="file" lang="es" data-browse="Seleccionar archivo" class="form-control custom-file-input" id="fupFoto2" (change)="changeFoto()" accept="image/*">
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Adjuntar Prueba 3
              </div>
              <img src="{{foto3Url}}" class="card-img-top" height="240" />
              <div class="card-body">
                <input type="file" class="form-control custom-file-input" id="fupFoto3" lang="es" (change)="changeFoto()" accept="image/*">
              </div>
            </div>


          </div>


          <div class="d-flex align-items-center bg-light shadow mb-3 rounded shadow-sm card-title">
            <div class="form-group mx-md-n5 col-md-12 text-center" title="datos opcionales del denunciante para contacto personalizado con el hecho">  <img src="../../../assets/icons/people.svg" alt="" width="40" height="40" title="datos opcionales del denunciante para contacto personalizado con el hecho"> &nbsp;&nbsp;&nbsp; Informaci&oacute;n de contacto opcional </div>
          </div>

          <div class="col-md-6">
            <label for="exampleFormControlInput1" class="col-md-8 tooltiper" data-toggle="tooltip" data-placement="top" title="Email para la recepcion de notificaciones sobre el estado de la denuncia">
              Mail
            </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ej: juanperez34@gmail.com" formControlName="Mail_Notificacion" />
          </div>

          <div class="col-md-6">
            <label for="exampleFormControlInput1" class="col-md-9">Teléfono de contacto</label>
            <input type="text" class="form-control col-md-3" id="exampleFormControlInput1" placeholder="Opcional teléfono de contacto" formControlName="Movil_Notificacion">
          </div>

          <div style="color:black" class="form-group col-md-12 justify-content-around">

            <div class="text-center  bg-info-light shadow p-2 mb-5 rounded shadow-sm" *ngIf="Denuncia.valid==false">Verifique que los campos señalados con (*) estén correctamente ingresados</div>

          </div>


          <div class="form-group justify-content-around offset-md-2">
            <input [disabled]="!Denuncia.valid" type="submit" value="Generar" class="btn btn-primary col-md-2 offset-md-1" />
            <button type="button" class="btn btn-secondary col-md-2 offset-md-1" (click)="volver()">Cancelar</button>
          </div>


          <ng-template #myModalInfo let-modal>
            <div class="modal bg-secondary" tabindex="-1" style="display:block;" role="dialog">
              <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content ">
                  <div class="modal-header">
                    <h5 class="modal-title">Confirmación sobre Operación</h5>
                    <img src="../../../assets/Imagenes/logo-cristal_3.png" width="100" height="100" />
                  </div>
                  <div class="modal-body">
                    {{resultadoGuardadoModal}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
                  </div>
                </div>

              </div>

            </div>
          </ng-template>

        </form>
      </div>

    </div>

  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
