<div class="container">
    <h1 class="text-center">Derivar Reclamo</h1>

    <app-reclamo-cabecera></app-reclamo-cabecera>

    <div class="row">
        <div class="col col-md-4">
            <label for="exampleFormControlInput1" class="form-label">Empleados</label>
            <select class="form-select" aria-label="Seleccione una Prioridad" name="selectPrioridades" [(ngModel)]="usuarioSeleccionado">
                <option [ngValue]="usuario" *ngFor="let usuario of listaUsuarios">{{usuario.nombreCompleto}}</option>
            </select>
        </div>

        <div class="d-grid gap-4 d-md-flex justify-content-md-center">
            <button type="button" class="btn btn-secondary" (click)="guardar()">Aceptar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
        </div>
    </div>

    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>