<style>
  .tangente {
    max-width: 98%;
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: #240f7d;
    color: skyblue !important;
    
  }
/*  .row {
   max-width: 100%;
   margin:0 0 0 0;
   padding-block;
   }*/
</style>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/Imagenes/Arcoiris.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Insignia de nuestro pueblo</h3>
      <p>Entrada principal.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/Imagenes/MiriamStefford.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Monumento Mirian Stefford patrimonio Villa Parque Santa</h3>
      <p>Una historia apasionante se esconde detrás de la construcción del mausoleo más grande de la Argentina.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/Imagenes/Fuego.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Por favor cuidemos nuestra naturaleza</h3>
      <p>Evitemos los incendios forestales.</p>
    </div>
  </ng-template>
</ngb-carousel>


<div class="tangente">
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/Imagenes/ImpuestosInmoniliario_300x200.png" alt="">
          <div class="card-body">
            <h4 class="card-title titulo"><strong>Pago mis impuestos</strong></h4>
            <p class="card-text subtitulo">No más demoras para el pago de sus impuestos, ahora puede abonarlos desde su casa!.</p>
          </div>
          <div class="card-footer">
            <a href="/impuestos-vecino-identificador" class="btn btn-primary">Mis Impuestos</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/Imagenes/Esposas.png" alt="">
          <div class="card-body">
            <h4 class="card-title titulo"><strong>Denuncias</strong></h4>
            <p class="card-text subtitulo">Si usted presencia algun ilícito o incumplimiento de ordenanzas denúncielo .</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Denuncias</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/Imagenes/reclamos.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title titulo"><strong>Reclamos</strong></h4>
            <p class="card-text subtitulo">Portal exclusivo para nuestros que nuestros vecinos puedan realizar los reclamos de servicio, y el seguimiento de los mismos hasta su resolucion.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary ">Reclamos!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row-->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/Imagenes/Trabajos.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title titulo"><strong>Obras y Actividad Municipales</strong></h4>
            <p class="card-text subtitulo">Cartera de Actividades y trabajos en curso realizados por el municipio.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Más Obras!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/Imagenes/Datos-abiertos.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title titulo"><strong>Datos Abiertos e información Pública</strong></h4>
            <p class="card-text subtitulo">Nuestro objetivo es la transparencia y uso responsable de los recursos, le invitamos a conocerrlos.</p>
          </div>
          <div class="card-footer">
            <a href="/dash-datos-abiertos" class="btn btn-primary">Datos Abiertos</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/Imagenes/Ideas.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title titulo"><strong>Sugerencias</strong></h4>
            <p class="card-text subtitulo">Este Espacio es para que usted puede expresar sugerencias, ideas y consejos que puedan ayudarnos a mejorar los espacios de nuestra localidad.</p>
          </div>
          <div class="card-footer">
            <a href="/sugerencia-form-generar" class="btn btn-primary">Sugerencias!</a>
          </div>
        </div>
      </div>
    </div>

</div>

