
  <nav-menu></nav-menu>
   <router-outlet></router-outlet>
  
<!--<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Villa Parque Santa Ana &copy; Córdoba - Argentina 2022</p>
  </div>
  <div class="d-flex align-items-center p-2 my-2 bg-purple  mb-2 rounded shadow-sm">

  </div>-->

  <!-- /.container -->
<!--</footer>-->

<!--<div class='container-fluid fondoweb'>

  <div class='row fondoweb'>
    <div class='col-sm-12 fondoweb'>
      <nav-menu></nav-menu>
    </div>
  </div>
  <div class='row '>
    <div class='col-sm-12 body-content '>
      <router-outlet></router-outlet>
    </div>
  </div>
  <br><br><br>
</div>-->

