<div class="container">
    <h1 class="text-center">Cambiar Prioridad de Reclamo</h1>

    <app-reclamo-cabecera></app-reclamo-cabecera>

    <div class="row">
        <div class="col col-md-4">
            <label for="exampleFormControlInput1" class="form-label">Prioridad</label>
            <select class="form-select" aria-label="Seleccione una Prioridad" name="selectPrioridades" [(ngModel)]="PrioridadSeleccionada">
                <option [ngValue]="Prioridad" *ngFor="let Prioridad of listaPrioridades">{{Prioridad.nombrePrioridad}}</option>
            </select>
        </div>
    </div>
</div>