<div class="container">
  <div class="card">
    <div class="card-body">
      <app-cabecera-titulo [nombreComponente]="'TablaDenunciaComponent'"></app-cabecera-titulo>

      <div class="row">
        <div class="col-md-3">
          <div class="form-floating">
            <select id="Tipo_Reclamo" class="form-select" [(ngModel)]='tipoDenunciaSeleccionado'>
              <option value="0">Todos</option>
              <option [ngValue]="TipoDenuncia.cod_Tipo_Denuncia" *ngFor="let TipoDenuncia of TiposDenuncia">{{TipoDenuncia.nombre}}</option>
            </select>
            <label for="exampleInputEmail1" class="form-label">Tipo de Denuncia</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-floating">
            <select id="Tipo_Reclamo" class="form-select" [(ngModel)]='estadoDenunciaSeleccionado'>
              <option value="0">Todos</option>
              <option [ngValue]="estado.cod_Estado_Denuncia" *ngFor="let estado of EstadosDenuncia">{{estado.nombre}}</option>
            </select>
            <label for="exampleInputEmail1" class="form-label">Estado</label>
          </div>
        </div>
        <button type="button" class="btn btn-primary col-md-1" (click)="aplicarFiltrado()"><i class="bi bi-search"></i> Filtrar</button>


      </div>

      <form [formGroup]="form">

        <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-striped table-sm" style="padding-bottom: 1.0em">
          <thead class="tituloTabla">
            <tr>
              <th class="text-center" *ngFor="let cabecera of cabeceras ">{{cabecera}} </th>
              <th class="text-center" *ngIf="isMantenimiento==true">&nbsp; &nbsp; Acciones &nbsp; &nbsp; </th>
            </tr>
          </thead>

          <tbody class="">
            <tr *ngFor="let Denuncia of Denuncias | paginate: { itemsPerPage: 10, currentPage: p }">
              <td class="text-center textoTabla">{{Denuncia.nro_Denuncia}}</td>
              <td class="text-center textoTabla">{{Denuncia.fecha| date: 'dd/MM/yyyy HH:MM'}}</td>
              <td class="text-center textoTabla">{{Denuncia.tipo_Denuncia}}</td>
              <td class="text-center textoTabla">{{Denuncia.estado_Denuncia}}</td>
              <td class="text-center textoTabla">{{Denuncia.prioridad}}</td>
              <td class="text-center textoTabla">{{Denuncia.nombreUser}} </td>
              <td class="text-center textoTabla" *ngIf="isMantenimiento==true">
                <button type="button" class="btn btn-outline-primary btn-sm" 
                          [routerLink]="['/trabajo-tabla',Denuncia.nro_Denuncia]"                           
                          title="Visualizacion de Trabajos registrados">
                          <i class="bi bi-eyeglasses"></i>
                </button>
                <!-- <button type="button" class="btn btn-outline-primary" [routerLink]="['/trabajo-form-generar',Denuncia.nro_Denuncia]">
                  <img src="../../../assets/IconsGoogle/gear.svg" alt="" width="20" height="20" title="Registrar Trabajo">
                </button> -->
                <button type="button" class="btn btn-outline-primary btn-sm mx-1" 
                          [routerLink]="['/trabajo-form-generar',Denuncia.nro_Denuncia]"                           
                          title="Registrar Trabajo">
                          <i class="bi bi-gear"></i>
                </button>
                <!-- <button type="button" class="btn btn-light" [routerLink]="['/denuncia-detalle',Denuncia.nro_Denuncia]"><img src="../../../assets/IconsGoogle/Mas_info.svg" alt="" width="20" height="20" title="Derivacion y/o Visualizacion denuncia"></button> -->
                <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/denuncia-detalle',Denuncia.nro_Denuncia]" title="Derivacion y/o Visualizacion denuncia"><i class="bi bi-info-lg"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
        <div class="row text-center">
          <pagination-controls previousLabel="Anteriores" nextLabel="Siguientes" (pageChange)="p = $event"></pagination-controls>
        </div>        

      </form>
    </div>
  </div>
</div>


