



<div class="container">
  <div class="card">
    <div class="card-body">


      <div class="d-flex align-items-center p-3 my-3 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm container">
        <i class="bi bi-person-rolodex text-dark" [routerLink]="['/empleadosyroles']" style="font-size: 2.5em;" title="Volvers a las opciones de gestion de personal."></i>
        <div class="card-title text-center form-group col-md-8 offset-md-1">
          <p>Tablero de Gestión de Roles</p>
        </div>
      </div>
    
        
        <table datatable class="row-border hover table table-hover" style="padding-bottom: 1.8em">
          <thead class="thead-dark tituloTabla">


            <tr>
              <th class="text-center" *ngFor="let cabecera of cabeceras ">{{cabecera}} </th>
              <th class="text-center" *ngIf="isMantenimiento==true">Operaciones ver/editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rol of roles | paginate: { itemsPerPage: 10, currentPage: p }">
              <td class="text-center">{{rol.iidRol}}</td>
              <td class="text-center">{{rol.nombreRol}}</td>
              <td class="text-center">{{rol.bHabilitado}}</td>
              <td class="text-center" *ngIf="isMantenimiento==true">
                <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/tipo-rol-form-generar',rol.iidRol]" title="Modificar"><i class="bi bi-pencil"></i></button>
                <button type="button" class="btn btn-outline-danger btn-sm ms-1" (click)="EliminarRol(rol.iidRol)" title="Borrar"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls previousLabel="Anteriores" nextLabel="Siguientes" (pageChange)="p = $event"></pagination-controls>

      <div class="row">
          <hr class="mb-4">
          <div class="form-group col-md-12">
            <button type="button" value="Nuevo" class="btn btn-secondary col-md-4 offset-md-1 " [routerLink]="['/tipo-rol-form-generar']"> Nuevo</button>
            <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="volverHome()">Volver</button>

          </div>

        </div>

    

    </div>

  </div>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
