<div class="container">

    <!-- <div class="pagetitle">
        <h1>Gestión de Roles</h1>
    </div> -->
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestión de Roles</h5>

                    <!-- Table with stripped rows -->
                    <table class="table table-striped table-sm">

                        <thead>
                            <tr>
                                <th class="text-center" *ngFor="let cabecera of cabeceras">{{cabecera}} </th>
                                <th class="text-center" *ngIf="isMantenimiento==true">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let rol of roles | paginate: { itemsPerPage: 5, currentPage: p }">
                                <td class="">{{rol.iidRol}}</td>
                                <td class="">{{rol.nombreRol}}</td>
                                <td class="">{{rol.bHabilitado}}</td>
                                <td class="text-center" *ngIf="isMantenimiento==true">
                                    <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/tipo-rol-form-generar',rol.iidRol]" title="Modificar"><i class="bi bi-pencil"></i></button>
                                    <button type="button" class="btn btn-outline-danger btn-sm ms-1" (click)="EliminarRol(rol.iidRol)" title="Borrar"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                    <!-- End Table with stripped rows -->

                </div>

            </div>
        </div>
    </section>


    <div class="row text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div class="row">
        <hr class="mb-4">
        <div class="form-group col-md-12">
            <button type="button" value="Nuevo" class="btn btn-success col-md-4 offset-md-1 " [routerLink]="['/tipo-rol-form-generar']"> Nuevo</button>
            <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="volverHome()">Volver</button>

        </div>

    </div>




</div>