
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

nav {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav, .navbar-brand, .main-nav {
  background-color: skyblue !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.main-nav {
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

.texto-blanco {
  color: white;
  font-size: 1.12em;
  font-weight: bold;
}

.texto-negro {
  color: black !important;
  font-size: 1em;
}


.texto-azul {
  color: blue !important;
  font-size: 1.12em;
  font-weight: bold;
}




.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*CSS Por DEfecto vs 2019*/

li .glyphicon {
  margin-right: 10px;
}
