
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav, .navbar-brand, .main-nav {
  background-color: skyblue !important;
}

.texto-blanco {
  color: white;
  font-size: 1.12em;
  font-weight: bold;
}

.texto-negro {
  color: black !important;
  font-size: 1em;
}


.texto-azul {
  color: blue !important;
  font-size: 1.12em;
  font-weight: bold;
}




.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*CSS Por DEfecto vs 2019*/

li .glyphicon {
  margin-right: 10px;
}
/*
 Highlighting rules for nav menu items 
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

 Keep the nav menu independent of scrolling and on top of other items 
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
     On small screens, convert the nav menu to a vertical sidebar 
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

*/
