<div class="container">

  <div class="card">
      <div class="card-body">
        
          <h5 class="card-title">Registrar/Editar Página</h5>

          <!-- <div class="d-flex align-items-center p-2 my-2 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
            <img src="../../../assets/Imagenes/book.svg" alt="" width="58" height="58">
            <div class="card-title text-center form-group col-md-8 offset-md-1">
              <p> Registrar Página {{titulo}}</p>
            </div>
          </div> -->

          <form [formGroup]="Pagina" (ngSubmit)="guardarDatos()" class="row g-3">

            <div class="col-md-2" *ngIf="esEdicionDePagina()">
              <label for="idPagina" class="form-label">Número</label>
              <input type="text" class="form-control" id="idPagina" formControlName="idPagina" value="" readonly>
            </div>

            <div class="col-md-10">
              <label for="Mensaje" class="form-label">(*) Nombre</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : nombreNoValido}" id="Mensaje" formControlName="Mensaje" value="">
              <div class="invalid-feedback" *ngIf="nombreNoValido">
                  El nombre de la página es requerido y no puede superar los 70 caracteres
              </div>
            </div>

            <div class="col-md-9">
              <label for="Accion" class="form-label">(*) Ruta</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : rutaNoValido}" id="Accion" formControlName="Accion" 
                      value="" placeholder="Debe comenzar con /">
              <div class="invalid-feedback" *ngIf="rutaNoValido">
                  La ruta de la página es requerida y no puede superar los 100 caracteres
              </div>
            </div>

              <div class="col-md-3">
                  <label for="Bvisible" class="form-label">(*) Visible</label>
                  <select id="Bvisible" formControlName="Bvisible" class="form-select">
                      <option value="1">Si</option>
                      <option value="0">No</option>
                  </select>
              </div>              

              <div class="col-md-12 order-md-1">

                  <div class="row">
                      <hr class="mb-4">
                      <div class="form-group col-md-12 mb-3 pt-3">
                          <input type="submit" value="Guardar" class="btn btn-primary col-md-4 offset-md-1 " />
                          <button type="button" class="btn btn-secondary col-md-4 offset-md-1" (click)="cancelar()">Cancelar</button>
                      </div>

                  </div>

              </div>

          </form>
      </div>

  </div>

</div>