<style>
  .tangente {
    max-width: 1400px;
    padding-top: 5em;
  }
</style>
<div class="d-flex align-items-center p-2 my-2 bg-purple bg-light shadow p-2 mb-5 rounded shadow-sm">
  <img src="../../../assets/IconsGoogle/sugerencia.svg" alt="" width="58" height="58">
  <div class="tituloSombra text-center form-group col-md-8 offset-md-1">
    <p> Datos Abiertos </p>
  </div>
</div>

<br>
<br>
<div class="row elPadding">
  <div class="col-md-4">
    <iframe width="580" height="365" src="https://www.youtube.com/embed/AW7guXie9JA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
              clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
  <div class="col-md-6 offset-2 ">
    <!--<div class="card h-100 backCard">
      <div class="card-body ">-->
    <img src="../../../assets/Imagenes/OpenData3.png" alt="" width="400" height="365">
    <!--<h4 class="card-title titulo">
      <p align="center">
        ¿Qué son los datos abiertos?
        Son datos que pueden ser libremente utilizados, reutilizados y redistribuidos por cualquier persona,
        con el objetivo de realizar análisis o generar nuevos datos que permitan a la ciudadanía y diferentes
        actores en el ámbito público y privado, conocer sobre los asuntos que les competen y son de su interés.
        Los datos que se suministran deben ser confiables, pertinentes y oportunos, para que permitan a todas
        aquellas personas y organizaciones que quieren utilizarlos, generar análisis relevantes en la búsqueda
        de generar cambios que contribuyan a mejorar la calidad de vida de las personas en especial de las vulnerables.
      </p>
    </h4>-->
    <!--</div>
    </div>-->
  </div>




</div>

<div class="tangente">

  <div class="row elPadding">
    <div class="card-columns">
      <div class="card bg-primary">
        <div class="card-body text-center">
          <a href="/datos-finanzas-economicos" class="nav-link">
            <img class="card-img-top" src="../../assets/Imagenes/Finanza_Economico.png" alt="">
          </a>
        </div>
      </div>
      <div class="card bg-warning">
        <div class="card-body text-center">
          <a href="/datos-territorio-urbanismo" class="nav-link">
            <img class="card-img-top" src="../../assets/Imagenes/territorioUrbanismo.png" alt="">
          </a>
        </div>
      </div>
      <div class="card bg-success">
        <div class="card-body text-center">
          <a href="/datos-medioambiente" class="nav-link">
            <img class="card-img-top" src="../../assets/Imagenes/ambiente.png" alt="">
          </a>
        </div>
      </div>
      <div class="card bg-danger">
        <div class="card-body text-center">
          <a href="/datos-finanzas-economicos" class="nav-link">
            <img class="card-img-top" src="../../assets/Imagenes/datosabiertosDenuncia.png" alt="">
          </a>
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body text-center">
          <a href="/datos-solicitudes" class="nav-link">
            <img class="card-img-top" src="../../assets/Imagenes/solicitudes.png" alt="">
          </a>
        </div>
      </div>
      <div class="card bg-dark">
        <div class="card-body text-center">
          <a href="/datos-sugerencias" class="nav-link">
            <img class="card-img-top" src="../../assets/Imagenes/sugerencias.png" alt="">
          </a>
        </div>
      </div>

    </div>


  </div>





</div>

<!-- /.container -->
<!-- Footer -->
<!--<footer class="py-5 bg-dark">
  <div class="container-fluid">
    <p class="m-0 text-center text-white">Villa Parque Santa Ana &copy; Córdoba - Argentina 2021</p>
  </div>
  <div class="d-flex align-items-center p-2 my-2 bg-purple  mb-2 rounded shadow-sm">

  </div>-->
<!-- /.container -->
<!--</footer>-->
